<footer>
    <div>
        <ul class="nav-bar2">
        
            <div><li style="float:left"> <img width="120" src="/images/logo1.jpg" /></li></div>
            <div><li><a href="#MEDIOS DE PAGO">MEDIOS DE PAGO </a></li></div>
            <div><li><a href="#CONTACTANOS">CONTACTANOS</a></li></div>
            <div><li><a href="#REDES SOCIALES">REDES SOCIALES</a></li></div>
        </ul>
    </div>
</footer>