<footer>
    <div>
        <ul class="nav-bar2">
        
            <li><a href="#NAVEGACION">NAVEGACION </a></li>
            <li><a href="#MEDIOS DE PAGO">MEDIOS DE PAGO </a></li>
            <li><a href="#CONTACTANOS">CONTACTANOS</a></li>
            <li><a href="#REDES SOCIALES">REDES SOCIALES</a></li>
        </ul>
    </div>
</footer>


