
    <header>
        <ul>
        <link rel="stylesheet" href="style/home.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
            
        <li style="float:left"> <img width="250" src="/images/logo1.jpg" /></li>
        <li><a href="#home">Inicio</a></li>
        <li><a href="#news">Productos</a></li>
        <li><a href="#contact">Quienes Somos</a></li>
        <li><a href="#contact">Contacto</a></li>
        <li style="float:right"><a class="active" href="/login">Iniciar Sesion</a></li>
        <li style="float:right"><a class="active" href="/register">Crear cuenta</a></li>
        <li style="float:right"><a href="/perfil">Mi Perfil</a></i> </li>
        <li style="float:right"><a href="/salir">Salir</a> </li>
        </ul>
    </header>