
    <header>
        <ul>
        <li style="float:left"> <img width="250" src="/images/logo1.jpg" /></li>
        <li><a href="#home">Inicio</a></li>
        <li><a href="#news">Productos</a></li>
        <li><a href="#contact">Quienes Somos</a></li>
        <li><a href="#contact">Contacto</a></li>
        <li style="float:right"><a class="active" href="/login">Iniciar Sesion</a></li>
        <li style="float:right"><a class="active" href="/register">Crear cuenta</a></li>
        </ul>
    </header>