<header>
    <div>
        <ul class="nav-bar">
        <img width="200" src="/images/dmlogoconback.jpg" />
            
            <li><a href="#INICIO">INICIO </a></li>
            <li><a href="#PRODUCTOS">PRODUCTOS </a></li>
            <li><a href="#NUESTRO LOCAL">NUESTRO LOCAL</a></li>
            <li><a href="#QUIENES SOMOS">QUIENES SOMOS</a></li>
            <li><a href="#CONTACTO">CONTACTO</a></li>
        
            <div class= "nav-bar-right">
                <li><a target = "_blank" href="/register">Crear cuenta  </a></i></li>
                <li><a target = "_blank" href="/login">Iniciar Sesion</a></i></li>
        </div>
        </ul>
    </div>
    </header>