body{
    display: flex;
    flex-direction: column;
}
.box1{
    border-bottom: 3px solid grey;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}
.box2{
    border-bottom: 3px solid grey;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    font-size: 20px;

}
.box3{
    font-size: 20px;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    border-bottom: 3px solid grey;
}
.iconoX{
    box-sizing: border-box;
    font-size: 30px;
}
.box4{
    border-bottom: 3px solid grey;
    display: flex;
    font-size: 25px;
}
.box5{
    display: flex;
    box-sizing: border-box;
    border: 2px solid red;
    font-size: 25px;
