body{
    display: flex;
    flex-direction: column;
    background-color: #BFAFA6;
}
.box1{
    border-bottom: 2px solid grey;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
.box2{
    border-bottom: 2px solid grey;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    justify-content: space-evenly;
    font-size: 20px;
    margin-top: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;

}
.box3{
    font-size: 20px;
    display: flex;
    box-sizing: border-box;
    border-bottom: 2px solid grey;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.iconoX{
    box-sizing: border-box;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.box4{
    border-bottom: 2px solid grey;
    display: flex;
    font-size: 25px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.box5{
    display: flex;
    box-sizing: border-box;
    font-size: 25px;
    border-bottom: 2px solid grey;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.box6{
    display: flex;
    box-sizing: border-box;
    font-size: 30px;
    justify-content: space-between;
    margin-top: 10px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}
.boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: grey;
    border-radius: 6px;
    border: 2px solid white;
  }
  .boton_personalizado:hover{
    color: black;
    background-color: #ffffff;
  }
.localesList{
    border: 2px solid grey;
    display: auto;
    box-sizing: border-box;
    margin: 5px;
}