.nav-bar {
    display: flex;
    list-style-type: none;
    margin:auto;
    margin-left:auto;
    box-sizing: border-box;
}

.nav-bar-right {
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    color:black;
    background-color:#BFAFA6;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif
    
}
.nav-bar-right li{
    margin-right: 5px
}

.login{
    text-align: center;
    width: 90%;
    height: 90%;
    margin: 35px;
    font-family: "roboto";
    font-size: 16px;
}
.form{
    margin:15px;
    font-size: 16px;
    padding-right: 467px;
}
.form1{
    margin: 15px;
    font-size: 16px;
    padding-right: 410px;
      
}

.form2{
    margin:15px;
    font-size: 16px;
    margin-bottom: 20px;
       
}
.form3{
    margin:15px;
    font-size: 16px;
    padding-right: 335px;
      
}
.form4{
    margin:15px;
    font-size: 16px;
    padding-right: 445px;
      
}
.form5{
    margin:15px;
    font-size: 16px;
    padding-right: 435px;
      
}
.form6{
    margin:15px;
    font-size: 16px;
    padding-right: 320px;
      
}
.barra{
    margin-bottom: 25px;
    
}
.email{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    font-size: 12px;
        
}

.olvidaste-contraseña{
    margin-bottom: 15px;
}
.crear-cuenta{
    border:none;
    margin-top: 35px;
    margin-bottom: 15px;
    background-color: #f1c40f;
    color: black;
    padding: 10px 100px 10px 100px;
    border-radius: 10px;
    
}
.no-tenes-cuenta{
    
    text-align: right;
}


.formulario{
    padding: 20px 15px;
    width: 90%;
    
    
}
.form-control{
    margin-bottom: 15px;
    border: 1px solid rgba(4, 4, 4, 0.3);
    color: black;
    margin:0px;
    padding: 5px 350px 5px 5px;
        
}
.input {
    text-align: left;
}
body{
    width: 100%;
}
.crearcuenta{
    text-align: center;
    width: 90%;
    height: 90%;
    margin: 35px;
    font-family: "roboto";
    font-size: 16px;
}
.telefono{
    margin-bottom: 15px;
    border: 1px solid rgba(4, 4, 4, 0.3);
    color: black;
    margin:0px;
    padding: 5px 500px 5px 5px;
        
}
.nombre{
    margin-bottom: 15px;
    border: 1px solid rgba(4, 4, 4, 0.3);
    color: black;
    margin:0px;
    padding: 5px 500px 5px 5px;
        
}
.recordar{
    padding: 5px 370px 5px 0px;
    margin-bottom: 20px;
}

.contraseña{
    margin-top: 15px;
}
