

.nav-bar {
    display: flex;
    list-style-type: none;
    margin:auto;
    margin-left:auto;
    box-sizing: border-box;
}

.nav-bar-right {
    
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    color:black;
    background-color:#BFAFA6;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif
    
}
.nav-bar-right li{
    margin-right: 5px
}


.form2{
    color: black;
    text-align: center;
    
}
.form3 {
    text-decoration: none;
    color: black;
    font-size: 16px;
    
}
.form4 {
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left: 15px;
    
}
.form4:hover{
    background-color: #111;

}

.form-group{
    
    display: block;
    margin-left: 430px;
    margin-top: 20px;
}

.registro-label{
    margin-bottom: 20px;

}
.registro {
    margin-top: 5px;
    padding: 8px;
    padding-right: 38%;

}

.avatar {
    
    width: 40%;
    padding: 0px;
    text-align: left;
    box-sizing: border-box;
    font-family: "roboto";
    font-size: 20px;
    margin-top: 10px;
}



.text-danger {
    font-family: "roboto";
    font-size: 20px;
    color: red;
}
.barra{
    margin-bottom: 25px;
    
}
.email{
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    font-size: 20px;
        
}

.olvidaste-contraseña{
    
    font-family: "roboto";
    font-size: 18px;
    margin-left: 430px;
    
    
}
.crear-cuenta{
    
    border:none;
    margin-top: 50px;
    margin-bottom: 15px;
    background-color: #f1c40f;
    color: black;
    padding: 10px 150px 10px 150px;
    border-radius: 10px;
    font-family: "roboto";
    font-size: 20px;
    text-align: center;
    
}
.cuenta{
    
    text-align: center;
    font-family: "roboto";
    font-size: 16px;
    margin-top: 15px;
    margin-left: 580px;
}


.formulario{
    padding: 20px 15px;
    width: 90%;
    
    
}
.form-control{
    margin-bottom: 15px;
    border: 1px solid rgba(4, 4, 4, 0.3);
    color: black;
    margin:0px;
    padding: 5px 350px 5px 5px;
        
}
.input {
    text-align: left;
}
body{
    width: 100%;
}


.contraseña{
    margin-top: 15px;
}

.radio {
    text-align: center;
    margin-top: 25px;;
    font-family: "roboto";
    font-size: 20px;
       
    
}

.imagen-avatar{
    margin-left: 50px;
}

.productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-between;
    margin-bottom: 5%;
    
    
}
.product-form {
    padding: 5px 5px 5px 5px;
    text-align: center;
    
}
.productos1{
    display: flex;
    flex-direction: column;
    padding: 5px ;
    font-size: 25px;
}

