* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}


.contenedorSlider {
    padding: 10px;
    display: block;
    border: solid green 5px;
}

.slider {
    height: 15%;
    background-color: grey;
}

.nav-bar {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 25px;
    padding-bottom: 15px;
    color:black;
    background-color:#BFAFA6;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif
}

.contenedorPadreMediosDePago {
    padding: 5px;
    display: flex;
    border: solid goldenrod 5px;
    justify-content: space-around;
    align-content: center;
}

.contenedorMediosDePago1 {
    width: 30%;
    text-align: center;
}

.contenedorMediosDePago2 {
    width: 30%;
    text-align: center;
}

.contenedorMediosDePago3 {
    width: 30%;
    text-align: center;
}

.contenedorPadreVerMas1 {
    padding: 10px;
    display: flex;
    border: solid red 5px;
    display: flex;
    justify-content: space-around;
}

.contenedorVerMas1 {
    width: 30%;
    background-color: pink;
}

.contenedorVerMas2 {
    width: 30%;
    background-color: yellowgreen;
}

.contenedorVerMas3 {
    width: 30%;
    background-color: yellow;
}

.contenedorPadreVerMas2 {
    padding: 10px;
    display: flex;
    border: solid blue 5px;
    display: flex;
    justify-content: space-around;
}

.contenedorVerMas4 {
    width: 30%;
    background-color: pink;
}

.contenedorVerMas5 {
    width: 30%;
    background-color: yellowgreen;
}

.contenedorVerMas6 {
    width: 30%;
    background-color: yellow;
}

.descuento {
    height: 50%;
    background-color: grey;
    display: block;
}

.contenedorPadreProducto1 {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: solid violet 5px;
    display: flex;
    justify-content: space-around;
}

.contenedorProducto1 {
    width: 23%;
    background-color: pink;
}

.contenedorProducto2 {
    width: 23%;
    background-color: yellowgreen;
}

.contenedorProducto3 {
    width: 23%;
    background-color: yellow;
}

.contenedorProducto4 {
    width: 23%;
    background-color: red;
}

.contenedorPadreProducto2 {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: solid black 5px;
    display: flex;
    justify-content: space-around;
}

.contenedorProducto5 {
    width: 23%;
    background-color: pink;
}

.contenedorProducto6 {
    width: 23%;
    background-color: yellowgreen;
}

.contenedorProducto7 {
    width: 23%;
    background-color: yellow;
}

.contenedorProducto8 {
    width: 23%;
    background-color: red;
}

.contenedorPadreConoceMas {
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: solid black 5px;
    display: flex;
    justify-content: space-around;
    height: 40%;
}

.contenedorConoceMas1 {
    width: 23%;
    background-color: red;
    flex-grow: 1;
}

.contenedorConoceMas2 {
    width: 40%;
    background-color: green;
}

.contenedorPadreMediosDePago {
    padding: 5px;
    display: flex;
    border: solid goldenrod 5px;
    justify-content: space-around;
    align-content: center;
}

.contenedorMediosDePago1 {
    width: 30%;
    text-align: center;
}

.contenedorMediosDePago2 {
    width: 30%;
    text-align: center;
}

.contenedorMediosDePago3 {
    width: 30%;
    text-align: center;
}

.nav-bar2 {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-around;
    padding-top: 35px;
    padding-bottom: 300px;
    color:black;
    background-color:#BFAFA6;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif
}