<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Mi primer documento en HTML</title>
    <link rel="stylesheet" href="/style/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/normalize.css">
</head>
<body>
    <header>
    <div>
        <ul class="nav-bar">
        <img width="200" src="/images/dmlogoconback.jpg" />
            
            <li><a href="#INICIO">INICIO </a></li>
            <li><a href="#PRODUCTOS">PRODUCTOS </a></li>
            <li><a href="#NUESTRO LOCAL">NUESTRO LOCAL</a></li>
            <li><a href="#QUIENES SOMOS">QUIENES SOMOS</a></li>
            <li><a href="#CONTACTO">CONTACTO</a></li>
        
            <div class= "nav-bar-right">
                <li><a target = "_blank" href="/register">Crear cuenta  </a></i></li>
                <li><a target = "_blank" href="/login">Iniciar Sesion</a></i></li>
        </div>
        </ul>
    </div>
    </header>   
    <div class="slider">
            <h2>Soy el slider</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id. Rerum maiores harum pariatur eum tempore fugiat, deserunt, laboriosam quod inventore ratione ut. Placeat, nemo.</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae quas maiores veritatis excepturi quia a ut delectus, facilis modi impedit enim culpa ipsum voluptatem, blanditiis eos labore fugit molestias minus.</p>
    </div>

    <div class="contenedorPadreMediosDePago">
        <div class="contenedorMediosDePago1">
            <h5>Envios a todo el pais</h5>
        </div>
        <div class="contenedorMediosDePago2">
            <h5>12 cuotas sin interes</h5>
        </div>
        <div class="contenedorMediosDePago3">
            <h5>Contactanos por whatsapp</h5>
        </div>
    </div>

    <div class="contenedorPadreVerMas1">
        <div class="contenedorVerMas1">
            <h2>Soy el ver mas 01</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id. Rerum maiores harum pariatur eum tempore fugiat, deserunt, laboriosam quod inventore ratione ut. Placeat, nemo.</p>
        </div>
        <div class="contenedorVerMas2">
            <h2>Soy el ver mas 02</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id. Rerum maiores harum pariatur eum tempore fugiat, deserunt, laboriosam quod inventore ratione ut. Placeat, nemo.</p>
        </div>
        <div class="contenedorVerMas3">
            <h2>Soy el ver mas 03</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id. Rerum maiores harum pariatur eum tempore fugiat, deserunt, laboriosam quod inventore ratione ut. Placeat, nemo.</p>
        </div>
    </div>
    
    <div class="contenedorPadreVerMas2">  
        <div class="contenedorVerMas4">
            <h2>Soy el ver mas 04</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id. Rerum maiores harum pariatur eum tempore fugiat, deserunt, laboriosam quod inventore ratione ut. Placeat, nemo.</p>
        </div>
        <div class="contenedorVerMas5">
            <h2>Soy el ver mas 05</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id. Rerum maiores harum pariatur eum tempore fugiat, deserunt, laboriosam quod inventore ratione ut. Placeat, nemo.</p>
        </div>
        <div class="contenedorVerMas6">
            <h2>Soy el ver mas 06</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id. Rerum maiores harum pariatur eum tempore fugiat, deserunt, laboriosam quod inventore ratione ut. Placeat, nemo.</p>
        </div>
    </div>

    <div class="contenedorDescuento">
        <div class="descuento">
            <h2>Soy el contenedor descuento</h2>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id. Rerum maiores harum pariatur eum tempore fugiat, deserunt, laboriosam quod inventore ratione ut. Placeat, nemo.</p>
        </div>
    </div>

    <div class="contenedorPadreProducto1">  
            <div class="contenedorProducto1">
                <h2>Soy el producto 01</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id.</p>
            </div>
            <div class="contenedorProducto2">
                <h2>Soy el producto 02</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id.</p>
            </div>
            <div class="contenedorProducto3">
                <h2>Soy el producto 03</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id.</p>
            </div>
            <div class="contenedorProducto4">
                <h2>Soy el producto 04</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id.</p>
            </div>
        </div>

        <div class="contenedorPadreProducto2">  
            <div class="contenedorProducto5">
                <h2>Soy el producto 05</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id.</p>
            </div>
            <div class="contenedorProducto6">
                <h2>Soy el producto 06</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id.</p>
            </div>
            <div class="contenedorProducto7">
                <h2>Soy el producto 07</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id.</p>
            </div>
            <div class="contenedorProducto8">
                <h2>Soy el producto 08</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id.</p>
            </div>
        </div>

        <div class="contenedorPadreConoceMas">  
            <div class="contenedorConoceMas1">
                <h2>Soy la imagen de conoce mas5</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id.</p>
            </div>
            <div class="contenedorConoceMas2">
                <h2>Soy el conoce mas</h2>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Perspiciatis nihil ducimus itaque veritatis dolorem id.</p>
            </div>
        </div>

        <div class="contenedorPadreMediosDePago">
            <div class="contenedorMediosDePago1">
                <h5>Envios a todo el pais</h5>
            </div>
            <div class="contenedorMediosDePago2">
                <h5>12 cuotas sin interes</h5>
            </div>
            <div class="contenedorMediosDePago3">
                <h5>Contactanos por whatsapp</h5>
            </div>
        </div>
        <footer>
            <div>
                <ul class="nav-bar2">
                    <li><a href="#NAVEGACION">NAVEGACION </a></li>
                    <li><a href="#MEDIOS DE PAGO">MEDIOS DE PAGO </a></li>
                    <li><a href="#CONTACTANOS">CONTACTANOS</a></li>
                    <li><a href="#REDES SOCIALES">REDES SOCIALES</a></li>
                </ul>
            </div>
        </footer>
</body>
</html>