<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style/home.css">
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
</head>
<body>

  
    
<header>
    <ul>
    <li style="float:left"> <img width="250" src="/images/logo1.jpg" /></li>
    <li> <a href="#home">Inicio</a></li>
    <li><a href="/products/list">Productos</a></li>
    <li><a href="#contact">Quienes Somos</a></li>
    <li><a href="#contact">Contacto</a></li>
    <li style="float:right"><a class="active" href="/login">Iniciar Sesión</a></li>
    <li style="float:right"><a class="active" href="/register">Crear cuenta</a></li>
    </ul>
</header>



<section>
<div class="slideshow-container">

    <div class="mySlides fade">
      <img src="/images/fondos_slider/michael-warf-f8egRYt5RGk-unsplash.jpg" style="width:100%">
    </div>
    
    <div class="mySlides fade">
      <img src="/images/fondos_slider/mitch-moondae-zXFtsdi9dIc-unsplash.jpg" style="width:100%">
      </div>
    
    <div class="mySlides fade">
      <img src= "/images/fondos_slider/yehleen-gaffney-raxI_EcyfGw-unsplash.jpg"style="width:100%">
      </div>
    
    <div class="mySlides fade">
      <img src="/images/fondos_slider/phillip-goldsberry-fZuleEfeA1Q-unsplash.jpg" style="width:100%">
    </div>
    
    <div class="mySlides fade">
      <img src="/images/fondos_slider/nathan-fertig-FBXuXp57eM0-unsplash (2).jpg" style="width:100%">
    </div>
    
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    </div>
    <br>
    
    <div style="text-align:center">
      <span class="dot" onclick="currentSlide(1)"></span> 
      <span class="dot" onclick="currentSlide(2)"></span> 
      <span class="dot" onclick="currentSlide(3)"></span>
      <span class="dot" onclick="currentSlide(4)"></span>
      <span class="dot" onclick="currentSlide(5)"></span> 
    </div>
    
    <script>
    var slideIndex = 1;
    showSlides(slideIndex);
    
    function plusSlides(n) {
      showSlides(slideIndex += n);
    }
    
    function currentSlide(n) {
      showSlides(slideIndex = n);
    }
    
    function showSlides(n) {
      var i;
      var slides = document.getElementsByClassName("mySlides");
      var dots = document.getElementsByClassName("dot");
      if (n > slides.length) {slideIndex = 1}    
      if (n < 1) {slideIndex = slides.length}
      for (i = 0; i < slides.length; i++) {
          slides[i].style.display = "none";  
      }
      for (i = 0; i < dots.length; i++) {
          dots[i].className = dots[i].className.replace(" active", "");
      }
      slides[slideIndex-1].style.display = "block";  
      dots[slideIndex-1].className += " active";
    }
    </script>

</section>

<div class="clearfix">
  <div class="box" style="background-color:#5f5550">
  <p>Envíos a todo el país</p>
  </div>
  <div class="box" style="background-color:#94867d">
  <p>12 cuotas sin interés</p>
  </div>
  <div class="box" style="background-color:#a09289">
  <p>Contáctanos por whatsapp</p>
  </div>
</div>

<banner class="banner"> 20% DE DESCUENTO ABONANDO EN EFECTIVO </banner> 


<section>
<div class="responsive">
    <div class="gallery">
      <div class="desc">Sillas</div>
      <a target="_blank" href= >
      <img src="/images/sillas/silla_principal.jpg" alt="Sillones" width="600" height="400">
      
      </a>
      </div>
  </div>
  
  <div class="responsive">
    <div class="gallery">
      <div class="desc">Accesorios</div>
      <a target="_blank" href="benjamin-voros-X63FTIZFbZo-unsplash.jpg">
        <img src="/images/accesorios/accesorio_principal.jpg" alt="Mesas" width="600" height="400">
      </a>
      
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
      <div class="desc">Sillones</div>
      <a target="_blank" href="benjamin-voros-X63FTIZFbZo-unsplash.jpg">
        <img src="/images/sillon/sillon_principal.jpg" alt="Mesas" width="600" height="400">
      </a>
      </div>
  </div>
  
  

  
  
  <div class="clearfix"></div>


  <div class="responsive">
    <div class="gallery">
        <a target="_blank" href= >
        <img src="/images/muebles/muebles_principal.jpg" alt="Sillones" width="600" height="400">
      </a>
      <div class="desc">Muebles</div>
    </div>
  </div>
  
  
  <div class="responsive">
    <div class="gallery">
        
      <a target="_blank" href= >
        <img src="/images/camas/cama_principal.jpg" alt="Sillones" width="600" height="400">
      </a>
      <div class="desc">Camas</div>
    </div>
  </div>
  
  
  
  <div class="responsive">
    <div class="gallery"> 
      <a target="_blank" href= >
        <img src="/images/mesas/mesa_principal.jpg" alt="Sillones" width="600" height="400">
      </a>
      <div class="desc">Mesas</div> 
      </div>
  </div>
  

 
  
  <div class="clearfix"></div>
</section>


  <banner class="banner"> 20% DE DESCUENTO ABONANDO EN EFECTIVO </banner> 




<section>
  <article>
  <div class="responsive2">
  <div class="gallery2">
  <img src="/images/accesorios/accesorios2.jpg" alt="Título del producto">
  <h3>Oferta del Mes</h3>
  <p>$ 17000</p>
   
  </article>

  <article>
    <div class="responsive2">
    <div class="gallery2">
    <img src="/images/sillon/sillones2.jpg" alt="Título del producto">
    <h3>Oferta del Mes</h3>
    <p>$ 15000</p>
      
    </article>

  <article>
    <div class="responsive2">
    <div class="gallery2">
    <img src="/images/sillas/silla1.jpg" alt="Título del producto">
    <h3>Oferta del Mes</h3>
    <p>$ 17000</p>
      
    </article>

 <article>
    <div class="responsive2">
    <div class="gallery2">
    <img src="/images/sillas/silla3.jpg" alt="Título del producto">
    <h3>Oferta del Mes</h3>
    <p>$ 17000</p>
      
    </article>
  </section>




</body>
<%- include('./partials/footer.ejs')%>
</html>


