<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deco Muebles</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/estilos.css">
</head>
<body>
        <div>
        <ul class="nav-bar">
            <li><a href="#">Inicio|</a></li>
            <li><a href="#">Productos|</a></li>
            <li><a href="#">Nuestro Local|</a></li>
            <li><a href="#">Quienes Somos|</a></li>
            <li><a href="#">Contacto|</a></li>
        </ul></div>
    <section>
        <h4>OFERTAS SEMANALES</h4>
            <div><article>
                
            </article></div>
            <div><article>
                <img src="/images/mesas.jpeg">
                <p>Descripcion de MESAS</p>
            </article></div>
            <div><article>
                
                <p>Descripcion de CAMAS</p>
            </article></div>
            <div><article>
                <img src="/images/sillas.jpg">
                <p>Descripcion de SILLAS</p>
            </article></div>
    </section>
    
    
</body>
</html>