<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesion</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/estilos.css">
    <link href="/style/estilosdos.css" rel="stylesheet">
</head>
<body>
    <div>
        <ul class="nav-bar">
        <img width="200" src="/images/logodecomuebles2.jpg" />
            
            <li><a href="#INICIO">INICIO </a></li>
            <li><a href="#PRODUCTOS">PRODUCTOS </a></li>
            <li><a href="#NUESTRO LOCAL">NUESTRO LOCAL</a></li>
            <li><a href="#QUIENES SOMOS">QUIENES SOMOS</a></li>
            <li><a href="#CONTACTO">CONTACTO</a></li>
        
            <div class= "nav-bar-right">
                <li><a target = "_blank" href="/register">CREAR CUENTA |</a></li>
                <li><a target = "_blank" href="/login">INICIAR SESION</a></li>
            </div>
        </ul>
    </div>
        
        
            <form action="/" method="POST" class="formulario">

            <div><label for="">Inicio/ Mi cuenta/ Login</label></div>      
    
        <div class= "login">
            <div class= "email">
            <label for="email" class="form">EMAIL</label>
            <div><input type="email"  placeholder="ej.: tunombre@email.com" name="email" value="" class="form-control"></div> 
        </div>
        
            <label for = "contraseña" class="form1">CONTRASEÑA</label>
            <div><input type="password" class="form-control" name="contraseña" id="contraseña"  required></div>
             
           <div class="olvidaste-contraseña"><label for = "contraseña" class="form3">¿Olvidaste tu contraseña?</label></div>
           <label for= 'recordar'></label>
           <div class="recordar"><input type= "radio"  name= "recordar" class="radio">Recordar mis datos</div>
            <button type="submit"  value="Crear-cuenta" class= "crear-cuenta">INICIAR SESION </button>

            <div><label for = "no-tenes-cuenta" class="form2">¿No tenes cuenta? Crear cuenta</label></div>
            

        </div>
            </form>

            <footer>
                <div>
                    <ul class="nav-bar2">
                        
                        <li><a href="#NAVEGACION">NAVEGACION </a></li>
                        <li><a href="#MEDIOS DE PAGO">MEDIOS DE PAGO </a></li>
                        <li><a href="#CONTACTANOS">CONTACTANOS</a></li>
                        <li><a href="#REDES SOCIALES">REDES SOCIALES</a></li>
                      
                    </ul>
                </div>
            </footer>            
    
</body>
</html>
