<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
    <title>Iniciar Sesion</title>
<body>
    <%- include('./partials/header.ejs')%> 
        
        
            <form action="/login" method="POST"  class="formulario">

            <div><label for="">Inicio/ Mi cuenta/ Login</label></div>      
    
        <div class= "login">
            <div class= "email">
                <label for="email" class="form">EMAIL</label>
                <div><input type="email"  placeholder="ej.: tunombre@email.com" name="email" value="" class="form-control">
                <% if (locals.errors && errors.email) { %>
                    <%= errors.email.msg %>
                    <% } %>
                </div> 
            </div>
        
            <label for = "contraseña" class="form1">CONTRASEÑA</label>
            <div><input type="password" class="form-control" name="password" id="password"  required></div>
             
           <div class="olvidaste-contraseña"><label for = "contraseña" class="form3">¿Olvidaste tu contraseña?</label></div>
           <label for= 'recordar'></label>
           <div class="recordar"><input type= "radio"  name= "recordar" class="radio">Recordar mis datos</div>
            <button type="submit"  value="Crear-cuenta" class= "crear-cuenta">INICIAR SESION </button>

            <div><label for = "no-tenes-cuenta" class="form2">¿No tenes cuenta? Crear cuenta</label></div>
            

        </div>
            </form>

            <%- include('./partials/footer.ejs')%>            
    
</body>
</html>
