<!DOCTYPE html>
<html lang="en">
  
    <%- include('./partials/head.ejs')%>
    <title>Iniciar Sesion</title>
<body>
    <%- include('./partials/header.ejs')%> 
        
        
            <form action="/login" method="POST"  class="formulario">

                <div><label for=""><a href="/home" class= "form3">Inicio /</a> <a href="/login" class= "form3">Mi Cuenta /</a> Login</label></div>      

            <br>
            <Section class= 'formulario-registro'> 
            <div class = "form-group">
            
                <label for="email" class='registro-label'>EMAIL</label>
                <br>
                <input type="email"  placeholder="ej.: tunombre@email.com" name="email" value="" class = "registro">
                <br><% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                    <%= errors.email.msg %>
                    </div>
                    <% } %>
               
            </div>
            <div class = "form-group">
            <label for = "contraseña" class='registro-label'>CONTRASEÑA</label>
            <br>
            <div><input type="password" class = "registro" name="password" id="password"></div>
             <br>
            </div>
           <label for = "contraseña" class='olvidaste-contraseña'>¿Olvidaste tu contraseña?</label>
           <label for= 'recordar'></label>
           <div class="radio"><input type= "radio"  name= "recordar" class="radio">Recordar mis datos</div>
            <button type="submit"  value="Crear-cuenta" class= "crear-cuenta">INICIAR SESIÓN </button>

            <div><label for = "no-tenes-cuenta" class="cuenta">¿No tenes cuenta?<a href="/register" class= "form3"> Crear cuenta</a></label></div>
            

        </div>
            </Section>
            </form>

            <%- include('./partials/footer.ejs')%>            
    
</body>
</html>