<div>
<h2>Creacion de Producto</h2>
Nombre de Producto: <input name="formulario" method="post" action="/send.php">
<br>
Descripcion: <input name="formulario" method="post" action="/send.php">
<form action="/views/productCreate" method="GET"></form>
    Categorias: <input type="text" size="15" list = "Categorias">
        <datalist id="Categorias">
            <option value ="Sillas"></option>
            <option value ="Mesas"></option>
            <option value ="Manteles"></option>
        </datalist>
     <form action="/views/productCreate" method="GET"></form>
    Colores: <input type="text" size="15" list = "Colores">
        <datalist id="Colores">
            <option value ="Blanco"></option>
            <option value ="Negro"></option>
            <option value ="Marron"></option>
        </datalist>
        <div class="field-wrap">
            <button type="submit">
              Crear producto
            </button>
          </div>
</div>
        


    
        
