<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style/estilos.css">
</head>
<body>
        <div>
        <ul class="nav-bar">
            <li><a href="#">Inicio|</a></li>
            <li><a href="#">Productos|</a></li>
            <li><a href="#">Nuestro Local|</a></li>
            <li><a href="#">Quienes Somos|</a></li>
            <li><a href="#">Contacto|</a></li>
        </ul></div>
        
        
            <form action="/" method="POST" class="formulario">

            <div><label for="">Inicio/ Mi cuenta/ Crear cuenta</label></div>      
    
        <div class= "crearcuenta">

            <label for="nombre" class="form">NOMBRE</label>
            <div><input type="text"  placeholder="ej.: Maria Perez" name="nombre" value="" class="nombre"></div> 

            <div class= "email">
            <label for="email" class="form">EMAIL</label>
            <div><input type="email"  placeholder="ej.: tunombre@email.com" name="email" value="" class="form-control"></div> 
        </div>
        
        <label for="telefono" class="form">TELEFONO</label>
        <div><input type="number"  placeholder="ej.: 3416634532" name="telefono" value="" class="telefono"></div> 

            <label for = "contraseña" class="form1">CONTRASEÑA</label>
            <div class= "contraseña"><input type="password" class="form-control" name="contraseña" id="contraseña"  required></div>

            <label for = "contraseña" class="form1">CONFIRMAR CONTRASEÑA</label>
            <div class= "contraseña"><input type="password" class="form-control" name="contraseña" id="contraseña"  required></div>   
           
        
            <button type="submit"  value="Crear-cuenta" class= "crear-cuenta">CREAR CUENTA </button>

            <div><label for = "no-tenes-cuenta" class="form2">¿Ya tenes una cuenta? Iniciar sesion</label></div>
            

        </div>
            </form>
    
</body>
</html>
